{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9b15b98184.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
  <title>Login</title>
</head>
<body>
    <!-- Formulario de Inicio de sesión -->      
    <div class="col-8 col-md-4 offset-md-4 pt-5">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mb-auto col-8 col-md-4 offset-md-4 pt-5">
            <img src="{% static '/images/Logo-Terratur.png' %}" alt="" class="img-fluid">
        </div>
        <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
            <!-- <h1 class="font-weight-bold text-center mb-4">Bienvenido</h1> -->
            <form method="post" class="mb-5">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="username" class="form-label">Usuario</label>
                    <input type="text" name="username" class="form-control needs-validation" placeholder="Ingresa el nombre de usuario">
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Completa los datos</div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label font-weight-bold">Contraseña</label>
                    <input type="password" name="password"  class="form-control mb-2" placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
                    <!-- <a href="#" id="emailHelp" class="form-text text-muted text-decoration-none">¿has olvidado tu contraseña?</a> -->
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </form>
            <p class="font-weight-bold text-center">O<br>Inicia sesión con</p>
            <div class="d-flex justify-content-around">
              <button type="submit" class="btn btn-outline-light flex-grow-1"><i class="fa-brands fa-google"></i> Google</button>
            <!-- <button type="submit" class="btn btn-outline-light flex-grow-1"><i class="fa-brands fa-facebook-f"></i> Facebook</button> -->
            </div>
        </div>
        <!-- <div class="text-center px-lg-5 pt-lg-3 pb-lg4 p-4 w-100 mt-auto">
            <p class="d-inline-block mb-0">¿Todavia no tienes una cuenta?</p> <a class=" text-dark font-weight-bold text-decoration-none" href="#">Crea una ahora</a>
        </div> -->
    </div>     
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>